absl-py==0.8.1
ads==0+untagged.1287.ga40e643
alabaster==0.7.12
altair==3.3.0
anaconda-client==1.7.2
anaconda-project==0.8.3
argh==0.26.2
arrow==0.10.0
arviz==0.5.1
asn1crypto==1.2.0
astor==0.8.0
astroid==2.3.3
astropy==3.2.3
atomicwrites==1.3.0
attrs==19.3.0
automl==0.2.6
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.7
beautifulsoup4==4.8.1
bitarray==1.1.0
bkcharts==0.2
bleach==3.1.0
blis==0.2.4
bokeh==1.4.0
boto==2.49.0
boto3==1.10.19
botocore==1.13.19
Bottleneck==1.3.1
branca==0.3.1
bz2file==0.98
certifi==2019.11.28
cffi==1.13.2
cftime==1.0.4.2
chardet==3.0.4
clear==1.0.1
click==6.7
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.4.1
conda==4.8.0
conda-package-handling==1.6.0
configparser==3.5.0
contextlib2==0.6.0.post1
convertdate==2.1.3
coverage==5.0.3
cryptography==2.8
cx-Oracle==7.0.0
cycler==0.10.0
cymem==2.0.2
Cython==0.29.14
cytoolz==0.10.1
dask==2.1.0
dask-glm==0.2.0
dask-ml==1.1.1
dask-xgboost==0.1.9
datefinder==0.7.0
decorator==4.4.1
defusedxml==0.6.0
descartes==1.1.0
diff-match-patch==20181111
distributed==2.4.0
docutils==0.15.2
elasticsearch==7.0.4
entrypoints==0.3
ephem==3.7.7.0
et-xmlfile==1.0.1
Faker==2.0.4
fastcache==1.1.0
fastparquet==0.3.2
fbprophet==0.5
fdk==0.1.12
Fiona==1.7.12
flake8==3.7.9
Flask==1.1.1
folium==0.10.1
fsspec==0.6.0
funcy==1.14
fusepy==3.0.1
future==0.18.2
gast==0.2.2
GDAL==2.2.2
gensim==3.7.3
geopandas==0.6.1
gevent==1.4.0
gitdb2==2.0.6
GitPython==3.0.5
gmpy2==2.0.8
goodlogging==1.0.1
google-pasta==0.1.8
graphviz==0.8.4
greenlet==0.4.15
grpcio==1.14.1
h2o==3.18.0.2
h5py==2.8.0
HeapDict==1.0.1
holidays==0.9.11
html5lib==1.0.1
htmllistparse==0.5
httptools==0.0.13
idna==2.6
imageio==2.6.1
imagesize==1.1.0
imbalanced-learn==0.6.1
imblearn==0.0
importlib-metadata==1.2.0
intervaltree==3.0.2
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.12
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.14.1
jeepney==0.4.1
Jinja2==2.10.3
jmespath==0.9.3
joblib==0.14.0
json5==0.8.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.2.3
jupyterlab-server==1.0.6
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==19.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lightgbm==2.3.0
llvmlite==0.30.0
locket==0.2.0
lunardate==0.2.0
lxml==4.4.2
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mlx==0.3.11
mlxtend==0.17.0
more-itertools==7.2.0
mpld3==0.3
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
munch==2.5.0
murmurhash==1.0.2
mxnet==1.5.0
nbconvert==5.6.1
nbformat==4.4.0
netCDF4==1.4.2
networkx==2.4
nltk==3.4.5
nose==1.3.7
notebook==6.1.5
numba==0.46.0
numexpr==2.7.0
numpy==1.17.4
numpydoc==0.9.1
oci==2.6.2+preview.1.923
oci-cli==2.6.10+preview.1
olefile==0.46
opencv-python==4.1.2.30
opencv-python-headless==4.1.2.30
openpyxl==3.0.2
packaging==19.2
pandas==0.24.2
pandasql==0.7.3
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.5.1
partd==1.1.0
path.py==12.0.2
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pbr==5.4.4
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
plac==0.9.6
plotly==4.1.0
pluggy==0.13.1
ply==3.11
preshed==2.0.1
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.10.1
psutil==5.6.7
psycopg2==2.7.6.1
ptyprocess==0.6.0
py==1.8.0
pyarrow==0.11.1
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pydocstyle==4.0.1
pydot==1.4.1
pyflakes==2.1.1
Pygments==2.5.2
pygpu==0.7.6
pylint==2.4.4
pymc3==3.7
pymongo==3.7.2
Pympler==0.7
PyMySQL==0.9.3
PyNaCl==1.3.0
pyod==0.7.1
pyodbc==4.0.27
pyOpenSSL==18.0.0
pyparsing==2.4.5
pyproj==1.9.5.1
pyrsistent==0.15.6
PySocks==1.7.1
pystan==2.19.0.0
pytest==4.0.1
pytest-arraydiff==0.3
pytest-astropy==0.6.0
pytest-astropy-header==0.1.1
pytest-asyncio==0.9.0
pytest-cov==2.8.1
pytest-doctestplus==0.5.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.7.3
python-jsonrpc-server==0.3.2
python-language-server==0.31.2
pytz==2016.10
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.1.2
pyzmq==18.1.0
QDarkStyle==2.7
QtAwesome==0.6.0
qtconsole==4.6.0
QtPy==1.9.0
rarfile==2.7
regex==2019.12.9
requests==2.6.0
retrying==1.3.3
rope==0.14.0
Rtree==0.8.3
ruamel-yaml==0.15.46
s3fs==0.3.5
s3transfer==0.2.1
schedule==0.6.0
scikit-image==0.14.2
scikit-learn==0.21.3
scipy==1.3.2
seaborn==0.9.0
SecretStorage==3.1.1
Send2Trash==1.5.0
setuptools-git==1.2
Shapely==1.6.4.post2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.13.0
smart-open==1.9.0
smmap2==2.0.5
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.5
spacy==2.1.8
Sphinx==2.2.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==4.0.0
spyder-kernels==1.8.1
SQLAlchemy==1.3.11
srsly==0.2.0
statsmodels==0.10.1
sympy==1.4
tables==3.4.4
tabulate==0.8.3
tblib==1.5.0
tensorboard==1.15.0
tensorflow==1.15.0
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
text-unidecode==1.3
Theano==1.0.4
thinc==7.0.8
thrift==0.11.0
toolz==0.10.0
torch==1.0.1.post2
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
typed-ast==1.4.0
ujson==1.35
unicodecsv==0.14.1
urllib3==1.25.7
version-parser==1.0.0
vincent==0.4.4
wasabi==0.4.0
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
word2vec==0.9.4+2.g8204e5c
wordcloud==1.5.0
wrapt==1.11.2
wurlitzer==2.0.0
xarray==0.14.0
xgboost==0.90
xlrd==1.2.0
XlsxWriter==1.2.6
xlwt==1.3.0
yapf==0.28.0
zict==1.0.0
zipp==0.6.0
